

    body{
       background-color: #f6f6f8;
       margin: 20px;
    }
    
    .container{
        background-image: linear-gradient(to bottom, #220327, #d85eee);
        border-radius: 10px;
    }
    .title{
        font-size: 20px;
        color:chartreuse;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .subtitle{
        font-size: 12px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 10px 10px;
    }
    .header{
         background-image: linear-gradient(to top, #210D24,#621E6D);
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 24px;
        border-radius: 10px;
        margin: 20px;
       
    }
    .input{
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 300px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
.card1{
    background-image: linear-gradient(to top, #3E60EF,#73CEFF);
    border-image: linear-gradient(to top, #342988,#2638DC);
    border: 10px solid  transparent;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card2{
    background-image: linear-gradient(to top, #3E60EF,#73CEFF);
    border-image: linear-gradient(to top, #342988,#2638DC);
    border: 10px solid  transparent;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card3{
    background-image: linear-gradient(to top, #3E60EF,#73CEFF);
    border-image: linear-gradient(to top, #342988,#2638DC);
    border: 10px solid  transparent;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}